
{{#each goals as |goal|}}

  <section class='goal_sections' data-id="{{goal.id}}">
    <h1 data-id="{{goal.id}}"> <small>Daily: {{goal.daily}}
    <br>
    Weekly: {{goal.weekly}}
    <br>
    Monthly: {{goal.monthly}}
  </small></h1>
  </section>
{{/each}}
