
{{#each practices as |practice|}}
  {{log practice}}

  <section data-id="{{practice.id}}">
    <h1 data-id="{{practice.id}}"> <small>Duration: {{practice.duration}}</small></h1>
      Date: {{practice.date}}
      <br>
      <button type='submit' class="col btn btn-default">Edit this Practice</button>
      <button type='submit' class="col btn btn-default">Delete this practice</button>
      <div class='practice_forms hidden'>
      </div>
  </section>
{{/each}}
