
{{#each practices as |practice|}}
  {{log practice}}

  <section class='practice_sections' data-id="{{practice.id}}">
    <h1 data-id="{{practice.id}}"> <small>{{practice.date}}</small></h1>
      {{practice.duration}} minutes
      <br>
      <button type='submit' class="remove_button col btn btn-default">Delete this practice</button>
      <p>Edit this practice below:</p>
      <form class="single-form">
        <input name="duration" placeholder="Enter Duration" />
        <input name="date" placeholder="Enter Date" />
        <input type="submit" />
      </form>
  </section>
{{/each}}
